.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 25em;
}

.aviso{
  animation: pisca-pisca 2s linear infinite;
}

@keyframes pisca-pisca {
  0%{
    opacity: 100%;
  }
  50%{
    opacity: 10%;
  }
  100%{
    opacity: 100%;
  }
}